apm-server:
  host: "0.0.0.0:8200"
  secret_token: "${APM_SECRET_TOKEN}"
  
  rum:
    enabled: true
    allow_origins: ['*']
    allow_headers: ["Content-Type", "Accept", "Authorization"]
    
  api_key:
    enabled: false

output.elasticsearch:
  hosts: ["http://opensearch:9200"]
  username: "admin"
  password: "Admin@123456"
  indices:
    - index: "apm-%{[observer.version]}-transaction-%{+yyyy.MM.dd}"
      when.contains:
        processor.event: "transaction"
    - index: "apm-%{[observer.version]}-span-%{+yyyy.MM.dd}"
      when.contains:
        processor.event: "span"
    - index: "apm-%{[observer.version]}-error-%{+yyyy.MM.dd}"
      when.contains:
        processor.event: "error"
    - index: "apm-%{[observer.version]}-metric-%{+yyyy.MM.dd}"
      when.contains:
        processor.event: "metric"

logging.level: info
logging.to_files: true
logging.files:
  path: /var/log/apm-server
  name: apm-server
  keepfiles: 7
  permissions: 0644

queue.mem:
  events: 4096
  flush.min_events: 2048
  flush.timeout: 1s
