receivers:
  otlp:
    protocols:
      grpc:
        endpoint: 0.0.0.0:4317
      http:
        endpoint: 0.0.0.0:4318
  
  filelog:
    include:
      - /var/lib/docker/containers/*/*.log
    start_at: end
    include_file_path: true
    include_file_name: false
    operators:
      - type: json_parser
        id: parser-docker
        output: extract_metadata_from_filepath
        timestamp:
          parse_from: attributes.time
          layout: '%Y-%m-%dT%H:%M:%S.%LZ'
      - type: regex_parser
        id: extract_metadata_from_filepath
        regex: '^.*containers/(?P<container_id>[^_]+)/.*log$'
        parse_from: attributes["log.file.path"]
        output: parse_body
      - type: move
        id: parse_body
        from: attributes.log
        to: body

processors:
  batch:
    send_batch_size: 10000
    send_batch_max_size: 11000
    timeout: 10s
  
  resource:
    attributes:
      - key: source
        value: docker
        action: insert

exporters:
  clickhouselogsexporter:
    dsn: tcp://signoz-clickhouse:9000/signoz
    timeout: 10s

  clickhousemetricsexporter:
    endpoint: tcp://signoz-clickhouse:9000/signoz
    timeout: 10s

  clickhousetracesexporter:
    dsn: tcp://signoz-clickhouse:9000/?database=signoz
    timeout: 10s

service:
  pipelines:
    logs:
      receivers: [otlp, filelog]
      processors: [batch, resource]
      exporters: [clickhouselogsexporter]
    
    metrics:
      receivers: [otlp]
      processors: [batch]
      exporters: [clickhousemetricsexporter]
    
    traces:
      receivers: [otlp]
      processors: [batch]
      exporters: [clickhousetracesexporter]
